<div class="container py-3">
    <h3 class="mb-3">Chi siamo</h3>
    <h4>Com'è nato Rehelp</h4>
    <p>
        Il fondatore di ReHelp è stato ispirato dal modo di vivere dei suoi nonni Bruno Caraceni ed Elisabetta Mira. 
        Molto tempo fa gli dissero: "Non è più come una volta, quando ci si aiutava sempre l'uno l'altro! Non occorrevano soldi per fare dei
        lavori, anche importanti, in casa e nei campi. Potevamo contare sull'aiuto dei nostri vicini. E ciò era sufficiente per stare tranquilli.
        Si basava tutto su una reale e reciproca solidarietà fiduciaria. Vigeva il sistema del Ri-Aiuto (in dialetto
        "lu rajudu") con cui, anche in mancanza di denaro, i lavori necessari (es. la semina e la raccolta del grano, la vendemmia, la "pista" del maiale, etc.), venivano eseguiti coi vicini in maniera reciproca e gratuita." Era il concetto di mutua assistenza
        e di "una mano lava l'altra" che faceva reggere una economia agricola fiorente. Faceva parte della secolare cultura delle patriarcali famiglie contadine aiutare i propri vicini: certi che questi ultimi avrebbero aiutato qualora si fosse presentata
        l'occasione.
    </p>
    <p>
        Tutto questo avveniva nella più totale naturalezza. Era la tradizione del ri-aiuto su cui si fondava allora
        gran parte della economia contadina. Così nessuno era solo o isolato. Tutti vivevano in armonia con i vicini
        e facevano parte di un consolidato sistema solidale radicato sul territorio. La paura di rimanere senza
        disponibilità economica era tenuta lontana dalla certezza della solidarietà condivisa.
    </p>
    <p>
        Al contrario oggi si vive nel costante timore di non avere sufficiente capacità economica e nella consapevolezza
        che non possiamo contare sull'aiuto di nessuno. Il raggio di azione limitato al vicinato di un
        tempo oggi si è allargato a dismisura con la tecnologia, ma è venuta meno di contro la volontà di aiutarci
        reciprocamente e la cultura di reciprocità solidale di un tempo.
        Ecco allora la necessità di RE HELP, per riconnettere con la tecnologia le persone che credono ancora
        nei valori umani della condivisione e dell'aiuto reciproco.
    </p>
</div>