<div class="container">
    <h1>Chi Siamo</h1>
    <h2>
        <strong>Com'è nato Rehelp</strong></h2>
    <p></p>
    <p>
        E’ nato da uno dei fondatori di ReHelp interessato al modo di vivere dei suoi nonni Bruno Caraceni ed Elisabetta Mira. Molto tempo fa gli dissero: “Non è più come una volta, quando ci si aiutava sempre l’uno l’altro! Non occorrevano soldi per fare dei
        lavori, anche importanti, in casa e nei campi. Potevamo contare sull’aiuto dei nostri vicini. E ciò era sufficiente per stare tranquilli. Si basava tutto su una reale e reciproca solidarietà fiduciaria. Vigeva il sistema del Ri-Aiuto (in dialetto
        “lu rajudu”) con cui, anche in mancanza di denaro, i lavori necessari (es. la semina e la raccolta del grano, la vendemmia, la “pista” del maiale, etc.), venivano eseguiti coi vicini in maniera reciproca e gratuita.” Era il concetto di mutua assistenza
        e di “una mano lava l’altra” che faceva reggere una economia agricola fiorente. Faceva parte della secolare cultura delle patriarcali famiglie contadine aiutare i propri vicini: certi che questi ultimi avrebbero aiutato qualora si fosse presentata
        l’occasione
    </p>
    <div class="dropdown show">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
        <div class="dropdown-menu show" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>