/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
.img-avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    display: inline-block;
}

.rounded-circle {
    border-radius: 50%!important;
}

.cat-help {
    background-color: #16c98a;
}

.cat-teach {
    background-color: coral;
}

.cat-hobby {
    background-color: darkkhaki;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
