/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red, A700);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.modal {
    overflow: auto;
}

.img-avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    display: inline-block;
}

.rounded-circle {
    border-radius: 50%!important;
}

.mes {
    background-color: #16c98a;
}

.meh {
    background-color: coral;
}

.imh {
    background-color: darkkhaki;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @media (min-width: 1400px) {
//     .container, .container-sm, .container-md, .container-lg, .container-xl {
//         max-width: 1340px;
//     }
// }