<div class="container py-3">

    <h3 class="mb-3">Come funziona</h3>

    <div class="row">

        <div class="col-lg-8 col-md-6">

            <h4>La Comunità</h4>
            <p>
                L'associazione ReHelp accoglie all'interno di un App le persone che desiderano
                condividere i valori umani individuati nel <a href="#">manifesto dei valori condivisi</a>.
                Tutti quelli che possiedono la volontà di incontrarsi e ricevere e offrire aiuti di vario
                genere si possono iscrivere.
            </p>

            <h4>Le richieste di aiuto</h4>
            <p>
                Visitando la <a routerLink="/users">lista degli utenti</a>,
                divisi per area geografica e tipologia di aiuto offerto, è possibile
                contattare una persona per chiederle la sua disponibilit&agrave; ad aiutarci.
            </p>
            <p>
                Altrimenti è possibile anche scrivere un annuncio con una specifica
                richiesta d'aiuto, che poi sarà visualizzato dagli altri utenti
                nella <a routerLink="/helps">lista delle richieste</a> della Comunità.
            </p>

            <h4>LikeHelp</h4>
            <p>
                Nel momento della della loro iscrizione riceveranno in
                maniera gratuita <strong>3 LikeHelp</strong> di benvenuto, ognuno di essi permette di chiedere
                aiuto ad un altro membro della Comunità.
                Dal proprio profilo si potrà indicare le tipologie di
                aiuto che desidera offrire a tutti gli iscritti, la sintesi della sua storia
                personale, le sue aspirazioni e le sue necessità.
            </p>
            <p>
                Alla conferma del completamento dell'aiuto da parte del beneficiario, verrà
                scambiato un LikeHelp dal portafoglio di quest'ultimo a quello della persona che l'ha aiutato.
                L'esperienza vissuta dell'aiuto condiviso attraverso l'incontro e la conoscenza di una nuova persona verranno
                raccontati con dei feedback (che potranno essere letti da tutti gli iscritti a REHELP) che
                saranno spunti di riflessione per chi non è ancora iscritto.
            </p>
            <p>
                I LikeHelp ricevuti (per l'aiuto offerto) andranno a sommarsi a quelli di benvenuto.
                Potranno essere utilizzati per ricevere un aiuto richiesto e valutare gli altri utenti.
                All'interno dell'app gli iscritti potranno scambiarsi un aiuto, cose e servizi senza
                alcuna remunerazione economica.
                Questo sistema permetterà agli iscritti di non utilizzare denaro per avere un aiuto o
                un oggetto. Saranno offerti o scambiati in reciproca solidarietà condividendo i valori
                di ReHelp.
            </p>

        </div>

        <div class="col-lg-4 col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h4>Manuale utente</h4>
                    <a href="assets/docs/rehelp-user-manual-ita.pdf" class="btn btn-outline-danger bg-white mb-3">
                        <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon> Scarica il manuale utente (Italiano)
                    </a>
                    <a href="assets/docs/rehelp-user-manual-eng.pdf" class="btn btn-outline-danger bg-white mb-3">
                      <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon> Download user manual (English)
                  </a>
                </div>
            </div>
        </div>

    </div>


</div>
