<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarMain" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink="/">ReHelp</a>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" *ngIf="currentUser" routerLinkActive="active">
                        <a class="nav-link" routerLink="/helps">Helps</a>
                    </li>
                    <li class="nav-item" *ngIf="!currentUser" routerLinkActive="active">
                        <a class="nav-link" routerLink="/register">Registrazione</a>
                    </li>
                    <li class="nav-item" *ngIf="!currentUser" routerLinkActive="active">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="currentUser">
                        <a class="nav-link" href="#" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>