<a [routerLink]="['/profile', user.id ]" class="avatar">
    <span class="avatar-img">
        <img src="{{ getAvatar() }}"
            alt="{{ getFullname() }}"
            title="{{ getFullname() }}"
            class="rounded-circle"
            width="32">
    </span>
    <span class="avatar-txt" *ngIf="showName || showAge || showRating">
        <span *ngIf="showName" class="text-dark">
            {{ fullname }}
        </span>
        <span *ngIf="showAge && age" class="text-secondary">
            ({{ age }})
        </span>
        <span *ngIf="showLocation && location" class="location">
            <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
            {{ location }}
        </span>
        <span *ngIf="showRating && rating">
            <span class="mr-3">{{ rating | number:'1.0-1' }}</span>
            <span *ngFor="let rat of [1,2,3,4,5] | slice:0:rating">
                <fa-icon title="Recensito" [icon]="['fas', 'star']" class="text-warning mr-2"></fa-icon>
            </span>
        </span>
    </span>
</a>
<div class="clearfix"></div>
