.flex-container {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    float: left;
    -webkit-align-items: stretch; 
    align-items: stretch; 
}

.avatar-img {
    overflow: hidden;
    padding: 8px 8px 0 0;
    display: block;
    float: left;
}

.avatar-txt {
    padding: 0 8px 8px 8px;
    font-size: 1rem;
    display: block;
    margin-left: 40px;
}

.avatar-txt .location {
    display: block;
    color: #808080;
}