<div class="card">
                    <!-- <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['./offer']" role="tab" aria-controls="offerta" aria-selected="true">Offerta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['./requested-help']" role="tab" aria-controls="aiuti-richiesti" aria-selected="false">Aiuti richiesti</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['./offered-help']" role="tab" aria-controls="aiuti-offerti" aria-selected="false">Aiuti offerti</a>
                            </li>
                        </ul>
                    </div> -->
    <div class="card-body" *ngIf="user">

        <u><h3 *ngIf="user.donator">
            Donatore
        </h3></u>
        <u><h3 *ngIf="!user.donator">
            Non donatore
        </h3></u>

        <hr>

        <h3>Su di me</h3>
        
        <p *ngIf="user.description" class="font-italic">
            {{ user.description}}
        </p>
        <p *ngIf="!user.description">
            Nessuna descrizione.
        </p>

        <hr>

        <app-offer [idUser]="idUser" [isOwner]="isOwner"></app-offer>

        <hr>

        <app-requested-help [idUser]="idUser"></app-requested-help>

        <hr>

        <app-offered-help [idUser]="idUser"></app-offered-help>

    </div>
</div>
