<div class="row">

    <div class="col-md-6">
        <h3>Offerta</h3>
    </div>

    <div class="col-md-6 text-right" *ngIf="isOwner">
        <button class="btn btn-outline-secondary mb-3" (click)="openModal(mymodal)">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            Modifica
        </button>
    </div>

</div>

<!-- user's categories -->
<div *ngIf="!isLoading">
    <p *ngIf="categories.length == 0">Nessun risultato trovato.</p>
    
    <span *ngFor="let cat of categories">
        <app-categories [category]="cat"></app-categories>
    </span>
</div>

<!-- modal category selection -->
<ng-template #mymodal let-modal>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-header">
            <h4 class="modal-title">Modifica categorie</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label class="checkbox m-0 p-0" formArrayName="categories" *ngFor="let category of getFormCategories(); let i = index">
                <input class="d-none" type="checkbox" [formControlName]="i" [checked]="categoriesData[i].checked">
                <app-categories [category]="categoriesData[i]" [checked]="categoriesData[i].checked" [isCheckable]="true"></app-categories>
            </label>
        
            <p class="alert alert-warning" role="alert" *ngIf="!form.valid">
                Seleziona almeno una categoria.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-lg btn-outline-primary" [disabled]="!form.valid">Salva</button>
        </div>
    </form>
</ng-template>