.or-separator {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    font-weight: 500;

    span {
        padding: 0 30px;
        z-index: 2;
        position: relative;
        text-transform: uppercase;
        background: #ffffff;
        color: #404040;
    }
    
    &:after {
        content: "";
        width: 100%;
        background-color: transparent;
        display: block;
        border-top: 1px solid #e7e7e7;
        position: absolute;
        top: 50%;
        margin-top: 1px;
        z-index: 1;
    }
}