<section class="py-3">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-md-6" *ngIf="help">
                <div class="card">
                    <div class="card-body">

                        <h3 class="mb-3">{{ help.description }}</h3>
                        
                        <hr>

                        <div class="row">

                            <div class="col-lg-6">
                                <img src="{{ getImage(help) }}" alt="{{ help.description }} image" class="img-fluid mb-3">
                            </div>

                            <div class="col-lg-6">

                                <div class="mb-3" *ngIf="help.type">
                                    <app-help-type [type]="help.type"></app-help-type>
                                </div>

                                <div class="mb-3">
                                    <app-categories [category]="help.category"></app-categories>
                                </div>

                                <div class="mb-3 row">
                                    <div class="mb-1 col-md-4"><strong>Creatore</strong></div>
                                    <div class="col-md-8">
                                        <app-user-icon [user]="help.creator"></app-user-icon>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="mb-1 col-md-4"><strong>Creato il</strong></div>
                                    <div class="col-md-8">
                                        {{ help.createdAt | date: "dd/MM/yyyy" }}
                                    </div>
                                </div>

                                <div class="mb-3 row" *ngIf="help.dateEndValidity">
                                    <div class="mb-1 col-md-4"><strong>Scade il</strong></div>
                                    <div class="col-md-8">
                                        {{ help.dateEndValidity | date: "dd/MM/yyyy HH:mm" }}<br>
                                        <span *ngIf="!help.accepted">
                                            {{ getRemainingTime(help.dateEndValidity) }}
                                        </span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="mb-1 col-md-4"><strong>Stato</strong></div>
                                    <div class="col-md-8">
                                        {{ getStatus() }}
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="py-3">

                            <div class="mb-3">
                                <div class="mb-1"><strong>Luogo</strong></div>
                                <div>
                                    {{ help.address }}<br>
                                </div>
                            </div>

                            <agm-map class="w-100" [latitude]="help.latitude" [longitude]="help.longitude">
                                <agm-marker [latitude]="help.latitude" [longitude]="help.longitude">
                                </agm-marker>
                            </agm-map>
                        </div>

                        <div *ngIf="currentUser.id === help.creator.id && !help.accepted" class="mb-3">
                            <a class="btn btn-outline-secondary mb-3 mr-1" [routerLink]="['/helps/edit/', help.id]">
                                <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon> Modifica
                            </a>
                            <a class="btn btn-outline-secondary mb-3" (click)="openModal('modal-delete-' + help.id)">
                                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> Elimina
                            </a>
                        </div>
                    </div>

                    <app-modal id="modal-delete-{{ help.id }}">
                      <div class="modal-header">
                        <h4 class="modal-title" id="modal-title">{{ help.type.name }} - {{ help.description }}</h4>
                        <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal('modal-delete-' + help.id)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p><strong>Sei sicuro di volerlo eliminare?</strong></p>
                        <p>
                        <span class="text-danger">Questa operazione è irriversibile</span>
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="closeModal('modal-delete-' + help.id)">Annulla</button>
                        <button type="button" class="btn btn-danger" (click)="deleteHelp()">Elimina</button>
                      </div>
                    </app-modal>

                </div>
            </div>

            <div class="col-lg-4 col-md-6" *ngIf="help && currentUser">
                <app-helps-detail-responses [help]="help"></app-helps-detail-responses>
            </div>

        </div>

    </div>
</section>
