<section class="py-3">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-md-6" *ngIf="help">
                <div class="card">
                    <div class="card-body">

                      <h3 class="mb-3">{{ help.description }}</h3>
                        <hr>

                        <div class="row">

                            <div class="col-lg-6">
                                <img src="{{ help.image != null ? 'https://res.cloudinary.com/hwbyvepex/image/upload/v1582196512/' + help.image : (help.category.image != null ? 'assets/img/categories/' + help.category.image : 'assets/img/placeholder-help.png')  }}"
                                    alt="{{ help.description }} image" class="img-fluid mb-3">
                            </div>

                            <div class="col-lg-6">

                                <div class="mb-3 row">
                                    <div class="mb-1 col-md-4"><strong>Tipo</strong></div>
                                    <div class="col-md-8">{{ help?.type?.name }}</div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="mb-1 col-md-4"><strong>Categoria</strong></div>
                                    <div class="col-md-8">
                                        <app-categories [category]="help.category"></app-categories>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="mb-1 col-md-4"><strong>Creatore</strong></div>
                                    <div class="col-md-8">
                                        <app-user-icon [user]="help.creator"></app-user-icon>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="mb-1 col-md-4"><strong>Creato il</strong></div>
                                    <div class="col-md-8">
                                        {{ help.createdAt | date: "dd/MM/yyyy" }}
                                    </div>
                                </div>

                                <div class="mb-3 row" *ngIf="help.dateEndValidity">
                                    <div class="mb-1 col-md-4"><strong>Scade il</strong></div>
                                    <div class="col-md-8">
                                        {{ help.dateEndValidity | date: "dd/MM/yyyy HH:mm" }}
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="py-3">

                            <div class="mb-3">
                                <div class="mb-1"><strong>Luogo</strong></div>
                                <div>
                                    {{ help.address }}<br>
                                </div>
                            </div>

                            <agm-map class="w-100" [latitude]="help.latitude" [longitude]="help.longitude">
                                <agm-marker [latitude]="help.latitude" [longitude]="help.longitude">
                                </agm-marker>
                            </agm-map>
                        </div>

                        <div *ngIf="currentUser.id === help.creator.id && !help.accepted" class="mb-3">
                            <a class="btn btn-outline-secondary mb-3 mr-1" [routerLink]="['/helps/edit/', help.id]">
                                <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon> Modifica
                            </a>
                            <a class="btn btn-outline-secondary mb-3" (click)="deleteHelp()">
                                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> Elimina
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6" *ngIf="help && currentUser">
                <app-helps-detail-responses [help]="help" [currentUser]="currentUser"></app-helps-detail-responses>
            </div>

        </div>

    </div>
</section>
