<div class="accordion">
    <div class="contentBx" [class.active]="check">
        <div class="label" (click)="open()">Commenta</div>
        <div class="content">
            <div class="container">
                <div class="body">
                    <div *ngFor="let comment of postComments">
                        <div class="message" *ngIf="currentUser.id !== comment.idCreator">
                            <p><a [routerLink]="['/profile/', comment.idCreator]" class="text-dark">{{comment.author.firstname}}</a></p>
                            <p>{{comment.message}}</p>
                        </div>
                        <div class="message user_message" *ngIf="currentUser.id === comment.idCreator">
                            <div class="row row-special">
                                <p><a [routerLink]="['/profile/', comment.idCreator]" class="text-dark">{{comment.author.firstname}}</a></p>
                                <img class="img-special" src="../../../assets/img/recycle.png" alt="" (click)="deleteComment(comment.id)"
                                    (click)="refresh()" width="20px" height="20px">
                            </div>
                            <p>{{comment.message}}</p>
                        </div>
                    </div>

                </div>
                <div class="footer">
                    <form action="" (submit)="$event.preventDefault()">
                        <input type="text" [(ngModel)]="newMessage" name="newMessage" placeholder="Type your messages here...">
                        <button (click)="addComment()">SEND</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    questa è la parte vecchia
 -->

<!--<div class="accordion">
    <div class="contentBx" [class.active]="check">
        <div class="label" (click)="open()">comment</div>
        <div class="content">

            <div class="chatbox">

                <div class="msg-row">
                    <div class="msg-text" *ngFor="let comment of postComment">
                        <h2>Pinco Pallino</h2>
                        <p>{{comment}}</p>
                    </div>
                    <img src="foto1.jpg" alt="IMG" class="msg-img">
                </div>
            </div>
            <textarea [(ngModel)]="comment" name="" id="" cols="20" rows="2"></textarea>
            <br>
            <button (click)="post()">Comment</button> -->
<!--  <input [(ngModel)]="comment" type="text" name="" value="" (click)="post()" placeholder="Type your messages here..."> -->



<!-- <p>vecchi commenti</p>
            <p *ngFor="let comment of postComment">{{comment}}</p>
            <textarea [(ngModel)]="comment" name="" id="" cols="20" rows="2"></textarea>
            <br>
            <button (click)="post()">Comment</button> -->
<!-- </div>
    </div>
</div>-->
