<section class="p-0">

    <!-- filters -->
    <div class="cat-help pt-3 filters">
        <div class="container">
            <form class="row">
                <div class="form-group col-lg-2 col-md-4 mb-3">
                        <label>Distanza (km):</label>
                        <div>
                            <select class="form-control" [(ngModel)]="selectedDistance" name="selectedDistance" (change)="filter()">
                                <option [ngValue]="null">--TUTTI--</option>
                                <option *ngFor="let dis of defaultDistance">{{ dis }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-2 col-md-4 mb-3">
                        <label>Categoria:</label>
                        <select class="form-control mb-1" [(ngModel)]="idCat1" name="idCat1" (change)="filter()">
                            <option [ngValue]="null">--TUTTE--</option>
                            <option *ngFor="let cat of categories" [value]="cat.id">
                                {{ cat.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2 col-md-4 mb-3" *ngIf="idCat1 != null">
                        <label>Categoria 2:</label>
                        <select class="form-control mb-1" [(ngModel)]="idCat2" name="idCat2" (change)="filter()">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let cat of categories | filterCategories : { id: idCat1 }" [value]="cat.id">
                                {{ cat.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-lg-2 col-md-4 mb-3" *ngIf="idCat2 != null && (categories | filterCategories : { id: idCat1, idChild: idCat2 }).length > 0">
                        <label>Categoria 3:</label>
                        <select class="form-control mb-3" [(ngModel)]="idCat3" name="idCat3" (change)="filter()">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let cat of categories | filterCategories : { id: idCat1, idChild: idCat2 }"
                                [value]="cat.id">
                                {{ cat.name }}
                            </option>
                        </select>
                    </div>
            </form>
        </div>
    </div>

    <div class="container">

        <!-- users -->
        <div class="col-lg-12 py-3">

                <div class="row">
                    <div class="col-md-6">
                        <p *ngIf="users.length == 0">Nesuna persona trovata.</p>

                        <div *ngFor="let user of users" class="user-detail">
                            <div class="row">
                                <div class="col-lg-5 mb-1">
                                    <app-user-icon [user]="user" [showName]="true" [showAge]="true" [showLocation]="true" [showRating]="true"></app-user-icon>
                                    <span *ngIf="user.latitude && user.longitude" class="text-secondary">
                                        A {{ getDistance(user.latitude, user.longitude) }} da te.
                                    </span>
                                    <a [routerLink]="['/helps/ask', user.id]"
                                        [queryParams]="{type: type.code}"
                                        class="btn btn-block btn-outline-primary mt-3"
                                        *ngIf="user.categories.length > 0">
                                        <fa-icon title="Aiuto" [icon]="['fas', 'hand']" class="mr-2"></fa-icon>
                                        Chiedi aiuto
                                    </a>
                                </div>
                                <div class="col-lg-7 mb-1">
                                    <p *ngIf="!user.categories || user.categories.length == 0">Nessun aiuto offerto.</p>
                                    <app-categories *ngFor="let cat of user.categories" [category]="cat"></app-categories>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 p-0" *ngIf="currentUser">
                        <google-map
                            class="col-lg-8 p-0"
                            [center]="{lat: currentUser.latitude, lng: currentUser.longitude}"
                            [zoom]="10"
                            width="100%"
                            height="400px">
                            <map-marker
                                *ngFor="let user of users;"
                                [position]="{lat: user.latitude, lng: user.longitude}">
                            </map-marker>
                        </google-map>
                    </div>

                </div>
        </div>
    </div>

</section>
