.bg-home {
    background-image: url('/assets/img/bg-wide-home-1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
}


/* .bg-home a {
    display: block;
    padding: 64px;
    background-color: #b0b0b0;
    border: 1px solid #808080;
}

.bg-home a:hover {
    background-color: #ffffff;
} */