<!-- Meet and Help -->

<div class="py-4 bg-home">
    <div class="container py-3">
        <div class="row">

            <div class="col-md-8 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <fa-icon [icon]="['fas', 'hands']"></fa-icon>
                            Meet &amp; Help
                        </h3>
                        <hr>
                        <p class="lead">
                            Un piccolo aiuto può essere importante per chi lo riceve. Scegli quello più adatto a te.
                        </p>
                        <div class="row">

                            <div class="col-md-4">
                                <a [routerLink]="['/helps/add/MEH']" class="btn btn-block btn-outline-primary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Nuova richiesta
                                </a>
                            </div>

                            <div class="col-md-4 mb-1 text-center">
                                <a [routerLink]="['/helps']" class="btn btn-block btn-outline-secondary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Richieste
                                </a>
                            </div>

                            <div class="col-md-4 mb-1 text-center">
                                <a [routerLink]="['/users']" class="btn btn-block btn-outline-secondary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Offerte
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <fa-icon [icon]="['far', 'clock']"></fa-icon>
                            Immediate Help
                        </h3>
                        <hr>
                        <p class="lead">Hai bisogno di un aiuto immediato?</p>
                        <hr>
                        <div class="row">
                            
                            <div class="col-md-6 mb-1 text-center">
                                <a [routerLink]="['/helps/add/IMH']" class="btn btn-block btn-outline-primary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Nuovo
                                </a>
                            </div>

                            <div class="col-md-6 mb-1 text-center">
                                <a [routerLink]="['/helps']"
                                    [queryParams]="{type: 'IMH'}"
                                    class="btn btn-block btn-outline-secondary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Richieste
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Other Helps -->

<div class="pt-4 bg-light">
    <div class="container">

        <div class="row">

            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <fa-icon [icon]="['fas', 'sync']"></fa-icon>
                            Meet &amp; Share
                        </h3>
                        <hr>
                        <p class="lead">Hai bisogno di qualche oggetto in prestito?</p>
                        <hr>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <a [routerLink]="['/helps/add/MES']" class="btn btn-block btn-outline-primary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Chiedi un oggetto in prestito
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-1 text-center">
                                <a [routerLink]="['/helps']"
                                    [queryParams]="{type: 'MES'}"
                                    class="btn btn-block btn-outline-secondary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Domande
                                </a>
                            </div>

                            <div class="col-md-6 mb-1 text-center">
                                <a [routerLink]="['/users']"
                                    [queryParams]="{type: 'MES'}"
                                    class="btn btn-block btn-outline-secondary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Offerte
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <fa-icon [icon]="['fas', 'users']"></fa-icon>
                            Collective Help
                        </h3>
                        <hr>
                        <p class="lead">
                            Alcune imprese come la pulizia di un parco, non possono essere fatte da una persona sola.
                        </p>
                        <hr>
                        <div class="row">
                            
                            <div class="col-md-6 mb-1 text-center">
                                <a [routerLink]="['/helps/add/COH']" class="btn btn-block btn-outline-primary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Nuovo
                                </a>
                            </div>

                            <div class="col-md-6 mb-1 text-center">
                                <a [routerLink]="['/helps']"
                                    [queryParams]="{type: 'COH'}"
                                    class="btn btn-block btn-outline-secondary py-3">
                                    <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
                                    Richieste
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Ads -->
<div class="py-4 bg-white">
    <div class="container">
        <p class="lead">Motivational quote</p>
    </div>
</div>
