<div class="card">
    <div class="card-body">

        <div *ngIf="author; else notAuthor" class="mb-3">

            <h4>Risposte</h4>

            <p *ngIf="model.responses.length == 0">Nessuna risposta.</p>

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let r of model.responses" [ngClass]="{ 'bg-success' : r.accepted, 'bg-info' : r.completed }">

                    <div>
                        <a [routerLink]="['/profile', r.responder.id ]">
                            <span class="img-avatar rounded-circle">
                                                  <img src="{{ r.responder.avatar == null ? 'assets/img/avatar_64.png' : 'https://res.cloudinary.com/hwbyvepex/image/upload/' + r.responder.avatar }}"
                                                      alt="{{ r.responder.firstname + ' ' + r.responder.lastname }}"
                                                      title="{{ r.responder.firstname + ' ' + r.responder.lastname }}"
                                                      width="32" class="mr-3">
                                              </span>
                            <span class="text-dark">
                                                  {{ r.responder.firstname + ' ' + r.responder.lastname }}
                                              </span>
                        </a>
                    </div>
                    <div>
                        {{ r.message }}
                    </div>
                    <div>
                        <a class="btn btn-outline-success ml-3" (click)="accept(r)" *ngIf="!r.accepted && !accepted && !completed">
                            <fa-icon [icon]="['fas', 'check']"></fa-icon> Accetta
                        </a>
                        <a class="btn btn-outline-secondary ml-3" (click)="cancel(r)" *ngIf="r.accepted && !completed">
                                              Cancella
                                          </a>
                        <button class="btn btn-outline-primary ml-3" (click)="openModal('modal-complete')" *ngIf="r.accepted && !completed">Completa</button>
                        <!-- <a class="btn btn-outline-primary ml-3" (click)="complete(r)" *ngIf="r.accepted && !completed">
                                              Completa
                                          </a> -->
                        <app-modal id="modal-complete">
                            <div class="card my-4">
                                <div class="card-body">
                                    <h1>Lascia un feedback e completa la richiesta</h1>
                                    <div class="form-row mb-3">
                                        <label class="col-md-4" for="message">Messaggio</label>
                                        <textarea class="col-md-8 form-control" rows="4" name="message">
                                                  </textarea>
                                    </div>
                                    <div class="form-row mb-3">
                                        <label class="col-md-4" for="star-rating">Valutazione</label>
                                        <div class="col-md-8">
                                            <app-star-rating></app-star-rating>
                                        </div>
                                    </div>
                                    <a class="btn btn-outline-primary ml-3" (click)="complete(r)">
                                                    Completa
                                                  </a>
                                </div>
                            </div>
                        </app-modal>
                    </div>

                </li>
            </ul>

        </div>

        <ng-template #notAuthor>
            <div *ngIf="userResponse; else notUserResponse">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let r of model.responses" [ngClass]="{ 'bg-success' : r.accepted, 'bg-info' : r.completed }">
                        <div *ngIf="r.responder.id == currentUser.id" class="row">
                            <div class="col-md-3">
                                <a [routerLink]="['/profile', r.responder.id ]">
                                    <span class="img-avatar rounded-circle">
                                              <img src="{{ r.responder.avatar == null ? 'assets/img/avatar_64.png' : 'https://res.cloudinary.com/hwbyvepex/image/upload/' + r.responder.avatar }}"
                                                  alt="{{ r.responder.firstname + ' ' + r.responder.lastname }}"
                                                  title="{{ r.responder.firstname + ' ' + r.responder.lastname }}"
                                                  width="32" class="mr-3">
                                          </span>
                                    <span class="text-dark">
                                              {{ r.responder.firstname + ' ' + r.responder.lastname }}
                                          </span>
                                </a>
                            </div>
                            <div class="col-md-6">
                                {{ r.message }}
                            </div>
                            <div class="col-md-3 text-right">
                                <a class="btn btn-outline-secondary ml-3" (click)="deleteResponse(r)" *ngIf="!(r.accepted)">
                                          Cancella
                                      </a>
                                <p *ngIf="r.accepted && !completed">
                                    Accettata
                                </p>
                                <p *ngIf="r.accepted && completed">
                                    Completata
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-template>
        <ng-template #notUserResponse>
            <div class="mb-3 row">
                <a class="btn btn-lg btn-outline-primary offset-md-3" [routerLink]="['/helps/' + help?.id + '/response/']">
                    Rispondi
                </a>
            </div>
        </ng-template>
    </div>
</div>