<div class="container py-3">
    <div class="row">

        <div class="col-lg-2 col-md-3 mb-3">
            <a class="btn btn-outline-secondary" [routerLink]="['/helps']">
                <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon> Indietro
            </a>
        </div>


        <div class="col-lg-10 col-md-9">

            <h2 class="display-4">Modifica Help</h2>
            <div class="card mt-3">
                <div class="card-body">
                    <form #helpForm="ngForm" (ngSubmit)="onSubmit()">

                        <div class="form-row mb-3">
                            <label class="col-md-4" for="title">Titolo</label>
                            <input class="col-md-8 form-control" type="text" [(ngModel)]="model.title" name="title"
                                required />
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-md-4" for="category">Categoria</label>
                            <select class="col-md-8 form-control" [(ngModel)]="model.idCategory" name="idCategory"
                                required>
                                <option *ngFor="let cat of categories" [value]="cat.id">
                                    {{ cat.name }}
                                </option>
                            </select>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-md-4" for="description">Descrizione</label>
                            <textarea class="col-md-8 form-control" rows="4" [(ngModel)]="model.description"
                                name="description" required>
                        </textarea>
                        </div>

                        <div class="form-row mb-3">
                            <button class="btn btn-outline-primary offset-md-4 col-md-8 mb-3" type="submit">
                                <fa-icon [icon]="['fas', 'save']"></fa-icon> Salva
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>