<div class="container">
    <h1>Come Funziona</h1>
    <h2><strong>Come funziona Rehelp</strong></h2>
    <p></p>
    <p>
        Si è iniziato, con un gruppo di amici, a lavorare con entusiasmo per realizzare il
        progetto ReHelp, auspicando di eliminare l’indifferenza e la visione distaccata delle
        ingiustizie sociali. L’identificazione e la consapevolezza intellettuale può incrementare i rapporti umani ed il
        dialogo. I nostri obiettivi utopistici indicano la giusta
        direzione dove orientare gli sforzi e le speranze . La rete e la creazione di un app,
        sono i mezzi per attuare il progetto di ReHelp
        L’associazione ReHelp accoglie all’interno di un App le persone che desiderano
        condividere i valori umani individuati nel manifesto dei valori condivisi diReHelp.
        Tutti quelli che possiedono la volontà di incontrarsi e ricevere e offrire aiuti di vario
        genere si possono iscrivere. Nel momento della della loro iscrizione riceveranno in
        maniera gratuita un numero prestabilito di LikeHelp di benvenuto (sono dei bonus da
        poter utilizzare nel chiedere aiuto agli altri).
        Ogni iscritto creerà un proprio profilo dove indicherà sinteticamente le tipologie di
        aiuto che desidera offrire a tutti gli iscritti a REHELP, la sintesi della sua storia
        personale, le sue aspirazioni e le sue necessità. All’interno dell’app verrà creata una
        lista di persone iscritte divisa per area geografica e tipologia di aiuto offerto. Ogni
        iscritto potrà ricercare nell’area desiderata l’aiuto di cui ha bisogno e contattare e
        incontrare la persona disposta ad offrire l’aiuto richiesto.
        Dopo aver ricevuto l’aiuto, il beneficiario darà una valutazione attraverso l’utilizzo dei
        LikeHelp (di cui detto sopra) a sua disposizione. L’esperienza vissuta dell’aiuto
        condiviso attraverso l’incontro e la conoscenza di una nuova persona verranno
        raccontati con dei feed back (che potranno essere letti da tutti gli iscritti a REHELP).
        E saranno spunti di riflessione per chi non è ancora iscritto.
        I LikeHelp ricevuti (per l’aiuto offerto) andranno a sommarsi a quelli di benvenuto.
        Potranno essere utilizzati per ricevere un aiuto richiesto e valutare gli altri utenti.
        All’interno dell’app gli iscritti potranno scambiarsi un aiuto, cose e servizi senza
        alcuna remunerazione economica.
        Questo sistema permetterà agli iscritti di non utilizzare denaro per avere un aiuto o
        un oggetto. Saranno offerti o scambiati in reciproca solidarietà condividendo i valori
        di ReHelp.
        Utilizzando come valutazione i LikeHelp si realizza una tipologia di aiuto multiforme,
        capillare e multi direzionale. Esiste anche la possibilità di scambio di aiuto diretto
        (baratto), per il quale non si utilizzano LikeHelp.
        Gli anziani ed i diversamente abili sono esentati dal donare aiuto poiché sarà la community di ReHelp ad offrire
        i LikeHelp a chi ha offerto il suo aiuto.
    </p>
    <h2><strong>Rehelp: un nuovo modo di vedere l'economia</strong></h2>
    <p></p>
    <p>
        Nell’ economia di mercato in cui viviamo il denaro da “mezzo per effettuare scambi” è diventato il fine. La
        corsa all’accumulo e la competizione
        nell’accumulare è ciò che rende il denaro scarsamente condiviso o
        indisponibile a milioni e milioni di persone. Ad oggi miliardi di persone
        muoiono di fame o sopravvivono nell’indigenza mentre poche centinaia
        di famiglie possiedono enormi patrimoni: tali da poter sfamare e ridare
        dignità umana a gran parte della popolazione. Infatti è pazzesco pensare che l’85% della ricchezza mondiale è
        posseduta da sole 1200
        famiglie e 7 MILIARDI di persone ne posseggono solo il15% (Rapporto
        Oxfam 2019).
        E’ evidente che un sistema retto dall’economia di mercato non ha funzione di equilibrio sociale: l’accumulo
        eccessivo dei pochi porta chi soffre
        di una totale indigenza ad utilizzare la totalità del guadagno per sopravvivere. Questo meccanismo alimenta
        esclusivamente la ricchezza dei
        pochi.
        Ecco allora ReHelp come idea futura per limitare la divisione e la competizione. Si potrebbe pensare come
        alternativa all’ accettazione passiva dell’idea che il sistema economico attuale sia l’unico possibile.
        L’intento è quello di unire le forze, le menti ed il cuore di chi pensa possibile
        la condivisione considerando gli individui tutti sullo stesso piano. Può essere un aiuto per non dipendere
        esclusivamente del denaro, proponendo un processo di reciprocità nel rispetto del singolo.
    </p>
    <h2><strong>La cultura di Rehelp</strong></h2>
    <p></p>
    <p>
        I tempi sono maturi per iniziare dei processi culturalmente
        evolutivi orientati ad un nuovo senso di responsabilità che
        porti all’elevazione delle coscienze collettive ed al miglioramento della qualità della vita di ciascuno,
        nessuno escluso.
        Facciamo un passo avanti verso nuovi orizzonti.
        Prendendo una nuova strada verso l’umanità e le relazioni, ci
        liberiamo dall’angoscia di non poter cambiare il nostro modo
        di vivere e abbiamo la possibilità scegliere tra un mondo di
        relazioni umane e un mondo di indifferenza.
        Rafforziamo il concetto di comunità abbattendo l’isolamento,
        prendendo consapevolezza, senza timore, che c’è sempre
        qualcuno disposto ad aiutarci e qualcuno che può aver bisogno di aiuto.
        Tutti possiamo partecipare, anche chi apparentemente non
        ha nulla, ha sempre qualcosa di IMPORTANTE da offrire:
        ascolto, attenzione, cura, vicinanza, solidarietà
        Tutti possiamo dare un contributo, un aiuto agli altri, così da
        acquisire una nuova stima in noi stessi, sapendo di poter
        essere utili a qualcuno, anche per piccoli gesti.
        Ridiamo valore alla nostra esistenza quando ci prendiamo
        cura di noi, degli altri e del bene comune, sentendoci così
        parte della comunità dei viventi.
        Re Help è un “campanello” per il RISVEGLIO delle coscienze
        che genera un nuovo cambiamento culturale e fa riscoprire i
        valori dell’umanità, rivalutando le relazioni umane in maniera
        reale e non solo virtuale.
    </p>
</div>