<div class="title-wallet">
    <h1 class="title-wallet_h1">ReHelp Wallet</h1>
</div>


<div class="container">
    <div class="card-credit">
        <div class="card-inner">
            <div class="front">
                <img src="..\assets\img\logo-rehelp.png" alt="" class="map-img">
                <div class="row-card-credit">
                    <img src="..\assets\img\chip.png" alt="" width="60px">
                    <img src="..\assets\img\logo-mark-rehelp.png" alt="" width="80px" height="80px">
                </div>
                <div class="row-card-credit card-no">
                    <p class="p-credit-card">{{num1}}</p>
                    <p class="p-credit-card">{{num2}}</p>
                    <p class="p-credit-card">{{num3}}</p>
                    <p class="p-credit-card">{{num4}}</p>
                </div>
                <div class="row-card-credit card-holder">
                    <p class="p-credit-card">CARD HOLDER</p>
                    <p class="p-credit-card">VALID TILL</p>
                </div>
                <div class="row-card-credit card-credit-name">
                    <p class="p-credit-card">NOME UTENTE</p>
                    <p class="p-credit-card">11 / 27</p>
                </div>
            </div>
            <div class="back">
                <img src="..\assets\img\logo-rehelp.png" alt="" class="map-img">
                <div class="bar"></div>
                <div class="row-card-credit card-cvv">
                    <div>
                        <img src="..\assets\img\pattern.png" alt="">
                    </div>
                    <p class="p-credit-card">{{num5}}</p>
                </div>
                <div class="row-card-credit card-text">
                    la Carta virtuale di ReHelp
                </div>
                <div class="row-card-credit signature">
                    <p class="p-credit-card">CUSTOMER SIGNATURE</p>
                    <img src="..\assets\img\logo-mark-rehelp.png" alt="" width="80px">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row-likeHelp row-likeHelp-graphic">
    <p class="row-likeHelp_p">
        I miei likeHelp:
    </p>
    <p class="row-likeHelp_p">
        numero
    </p>
</div>

<div>
    <h4 class="transaction">TRANSAZIONI</h4>
    <div class="all_transaction" *ngFor="let i of transactions">
        <div class="all_transaction_element">
            <p>Descrizione: {{i.description}}</p>
            <p>Likehelp: {{i.isPositive === true ? '+' : '-'}} {{i.likeHelp}}</p>
        </div>
        <div class="all_transaction_element">
            <p></p>   
            <p>Data: {{getDate(i.date)}}</p>
        </div>
    </div>
</div>

<!--<div class="numberTransaction">
    <p>numero di tansazioni</p>
    <p>totale coin spesi e guadagnati</p>
</div>
-->