<div class="container">
    <div class="card-credit">
        <div class="card-inner">
            <div class="front">
                <img src="map.png" alt="" class="map-img">
                <div class="row">
                    <img src="chip.png" alt="" width="60px">
                    <img src="visa.png" alt="" width="80px">
                </div>
                <div class="row card-no">
                    <p>{{num1}}</p>
                    <p>{{num2}}</p>
                    <p>{{num3}}</p>
                    <p>{{num4}}</p>
                </div>
                <div class="row card-holder">
                    <p>CARD HOLDER</p>
                    <p>VALID TILL</p>
                </div>
                <div class="row name">
                    <p>NOME UTENTE</p>
                    <p>11 / 27</p>
                </div>
            </div>
            <div class="back">
                <img src="map.png" alt="" class="map-img">
                <div class="bar"></div>
                <div class="row card-cvv">
                    <div>
                        <img src="pattern.png" alt="">
                    </div>
                    <p>{{num5}}</p>
                </div>
                <div class="row card-text">
                    la Carta virtuale di ReHelp
                </div>
                <div class="row signature">
                    <p>CUSTOMER SIGNATURE</p>
                    <img src="visa.png" alt="" width="80px">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="title">
    <h1>Wallet</h1>
</div>

<div class="subtitle">
    <h3>
        My Coin:
    </h3>
</div>

<div class="transaction" *ngFor="let i of transactions">
    <div class="all_transaction">
        <h4>TRANSAZIONE</h4>
        <p>{{i.description}}</p>
        <p>{{i.date}}</p>
        <p>{{i.likeHelp}}</p>
        <p>{{i.isPositive}}</p>
    </div>
</div>

<div class="numberTransaction">
    <p>numero di tansazioni</p>
    <p>totale coin spesi e guadagnati</p>
</div>

<div class="bottonSend">
    <p>Send coin </p>
</div>

