.title
{
    justify-content: center;
    align-items: center;
}
.title h1
{
    font-style: bold;
}
.subtitle
{
    justify-content: center;
    align-items: center;
}

.transaction
{
    justify-content: center;
    align-items: center;
}
.transaction .all_transaction
{
    
}