<section class="py-3">

    <div class="container">
        <a [routerLink]="['/helps/add']" class="btn btn-outline-primary mb-3">
            Aggiungi
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>Img</th>
                    <th>Tipo</th>
                    <th>Categoria</th>
                    <th>Titolo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let h of helps">
                    <td>{{ h.image }}</td>
                    <td>{{ h.HelpType.name }}</td>
                    <td>{{ h.HelpCategory.name }}</td>
                    <td>{{ h.title }}</td>
                    <td>
                        <a [routerLink]="['/helps/detail/', h.id]" class="btn btn-sm btn-outline-secondary m-1">
                            Dettagli
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>