<div class="container py-3">
    <div class="row">

        <div class="col-lg-2 col-md-3 mb-3">
            <a *ngIf="idHelp" class="btn btn-block btn-outline-secondary" [routerLink]="['/helps/', idHelp]">
                <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon> Richiesta
            </a>
            <a *ngIf="!idHelp" class="btn btn-block btn-outline-secondary" [queryParams]="{type: type?.code}"
                [routerLink]="['/helps/']">
                <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon> Richieste
            </a>
        </div>

        <div class="col-lg-10 col-md-9">

            <div class="mb-3">
                <div class="row">
                    <div class="col-6">
                        <h2 class="display-4">{{ idHelp ? 'Modifica aiuto' : 'Nuovo aiuto' }}</h2>
                    </div>
                    <div class="col-6 text-right">
                        <h3>{{ type?.name }}</h3>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h4 *ngIf="!idHelp && currentUser.likehelps < 1">Non è possibile creare nuove richieste di aiuto perché non si hanno likehelps a disposizione!</h4>
                    <form [formGroup]="helpsForm" *ngIf="model" (ngSubmit)="onSubmit()">

                        <div class="form-row mb-3">
                            <label class="col-lg-4" for="category">Categoria</label>
                            <div class="col-lg-8">
                                <select class="form-control mb-3" [(ngModel)]="cat1Id"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let cat of categories" [value]="cat.id">
                                        {{ cat.name }}
                                    </option>
                                </select>
                                <select class="form-control mb-3" [(ngModel)]="cat2Id"
                                    [ngModelOptions]="{standalone: true}"
                                    *ngIf="cat1Id && (categories | filterCategories : { id: cat1Id }).length > 0">
                                    <option *ngFor="let cat of categories | filterCategories : { id: cat1Id }"
                                        [value]="cat.id">
                                        {{ cat.name }}
                                    </option>
                                </select>
                                <select class="form-control mb-3" [(ngModel)]="cat3Id"
                                    [ngModelOptions]="{standalone: true}"
                                    *ngIf="cat2Id && (categories | filterCategories : { id: cat1Id, idChild: cat2Id }).length > 0">
                                    <option
                                        *ngFor="let cat of categories | filterCategories : { id: cat1Id, idChild: cat2Id }"
                                        [value]="cat.id">
                                        {{ cat.name }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-lg-4" for="description">Descrizione</label>
                            <div class="col-lg-8">
                                <textarea class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                                    formControlName="description" name="description" rows="4"
                                    placeholder="Ho bisogno di..." required>
                              </textarea>
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required">Il campo "Descrizione" è obbligatorio
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-lg-4" for="likehelps">Likehelp</label>
                            <div class="col-lg-8">
                                <select class="form-control mb-3" [(ngModel)]="likehelps"
                                [ngModelOptions]="{standalone: true}" (change)="createArray()">
                                <option *ngFor="let n of arrayLh" [value]="n">
                                    {{ n }}
                                </option>

                            </select>
                            </div>
                        </div>

                        <div *ngIf="currentUser && currentUser.donator === true" >
                            <div class="form-row mb-3">
                                <label class="col-lg-4" for="lhToDonate">Likehelp da donare</label>
                                <div class="col-lg-8">
                                    <select class="form-control mb-3" [(ngModel)]="lhToDonate"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let n of arrayLhToDonate" [value]="n">
                                        {{ n }}
                                    </option>
                                </select>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <label class="col-lg-4" for="donateTo">Associazione</label>
                                <div class="col-lg-8">
                                    <select class="form-control mb-3" [(ngModel)]="donateTo"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let a of associations" [value]="a.id">
                                        {{ a.name }}
                                    </option>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-3" *ngIf="type?.code == 'IMH'">
                            <label class="col-lg-4" for="scadenza">Scadenza</label>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-slider [(ngModel)]="model.halfhourValidity"
                                            [ngModelOptions]="{standalone: true}" class="w-100" min="1" max="48"
                                            step="1"></mat-slider>
                                    </div>
                                    <div class="col-md-4">
                                        <p>tra {{ getTimespan() }} ore</p>
                                        <p class="text-secondary">
                                            {{ getDayEndValidity() }} alle {{ getTimeEndValidity() | date:'HH:mm' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-3">

                            <label class="col-lg-4" for="category">Immagine</label>

                            <div class="col-lg-8">

                                <div *ngIf="!imageUploaded">
                                    <!-- <img src="{{ model.image != null ? 'https://res.cloudinary.com/hwbyvepex/image/upload/v1582196512/' + model.image : (getCategoryById(idCat3) ? 'assets/img/categories/' + getCategoryById(idCat3).image : 'assets/img/placeholder-help.png')  }}"
                                        alt="{{ model.description }} image" width="100%" class="help-img"> -->
                                    <img src="{{ getCategoryImage() }}" alt="{{ model.description }} image" width="100%"
                                        class="help-img">
                                </div>

                                <div class="file" *ngFor="let response of responses; let i = index; last as isLast">
                                    <div *ngIf="imageUploaded && isLast">
                                        <div class="status">
                                            <p *ngIf="!response.status">Caricamento... {{ response.progress }}%</p>
                                            <input type="hidden" [(ngModel)]="model.image"
                                                [ngModelOptions]="{standalone: true}" [value]="response.data.public_id"
                                                name="image" />
                                        </div>
                                        <div class="progress-bar">
                                            <div *ngIf="!response.status" class="progress" role="progressbar"
                                                [style.width.%]="response.progress"></div>
                                        </div>
                                        <a target="_blank" href="{{ response.data.url}}">
                                            <img class="img-fluid" src="{{ response.data.url}}"
                                                alt="{{ response.data.public_id }}">
                                        </a>
                                        <a (click)="toggleImgUploader()"
                                            class="btn btn-outline-danger btn-block col-md-1 mt-2">
                                            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                                        </a>
                                    </div>
                                </div>

                                <div [hidden]="imageUploaded">
                                    <form id="direct_upload" ng2FileDrop [uploader]="uploader"
                                        (fileOver)="fileOverBase($event)"
                                        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }">
                                        <div class="py-3">
                                            <div class="form_controls">
                                                <div class="upload_button_holder">
                                                    <label class="btn btn-outline-secondary" for="fileupload">
                                                        <fa-icon [icon]="['fas', 'camera']"></fa-icon> Cambia immagine
                                                    </label>
                                                    <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
                                                    <input type="file" id="fileupload" #fileInput ng2FileSelect
                                                        [style.display]="'none'" [uploader]="uploader"
                                                        (change)="fileInput.value = ''" multiple />
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>

                        </div>

                        <div class="form-row mb-3">
                            <label class="col-lg-4" for="location">Zona</label>
                            <agm-map class="col-lg-8" [latitude]="model.latitude" [longitude]="model.longitude"
                                [zoom]="zoom">
                                <agm-marker [latitude]="model.latitude" [longitude]="model.longitude"
                                    [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                                </agm-marker>
                            </agm-map>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-lg-4" for="address">Indirizzo</label>
                            <input class="col-lg-8 form-control" type="text" [(ngModel)]="model.address"
                                [ngModelOptions]="{standalone: true}" name="address"
                                (keydown.enter)="$event.preventDefault()" placeholder="{{address}}" value="{{address}}"
                                autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                        </div>

                        <div class="form-row mb-3">
                            <button class="btn btn-outline-primary offset-lg-4 col-lg-8 mb-3" type="submit" *ngIf="idHelp || !idHelp && currentUser.likehelps > 0">
                                <fa-icon [icon]="['fas', 'save']"></fa-icon> Salva
                            </button>
                            
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>