<section class="py-3">

    <div class="container">

        <div class="text-right">
            <a *ngIf="likeHelpController()" [routerLink]="['/helps/add']" class="btn btn-outline-primary mb-3">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon> Nuova richiesta di aiuto
            </a>
        </div>

        <p *ngIf="helps.length == 0">Non ci sono richieste di aiuto.</p>
        <table class="table" *ngIf="helps.length > 0">
            <thead>
                <tr>
                    <th>Richiesta di aiuto</th>
                    <th>Posizione</th>
                    <th>Tipo</th>
                    <th>Creata</th>
                    <th>Autore</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let help of helps">
                    <td>
                        <a class="help-img" [routerLink]="['/helps/', help.id]">
                            <img src="{{ help.image != null ? 'https://res.cloudinary.com/hwbyvepex/image/upload/v1582196512/' + help.image : (help.category.image != null ? 'assets/img/categories/' + help.category.image : 'assets/img/placeholder-help.png')  }}"
                            alt="{{ help.title }} image" class="help-img">
                        </a>
                        <div class="help-desc">
                            <app-categories [category]="help.category"></app-categories>
                            <p>
                                <a [routerLink]="['/helps/', help.id]" class="text-dark">
                                {{ help.title }}
                              </a>
                            </p>
                        </div>
                    </td>
                    <td class="col-location">
                        <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                        {{ help.address }}
                    </td>
                    <td>
                        {{ help.type.name }}
                    </td>
                    <td>
                        {{ help.createdAt | date: "dd/MM/yyyy" }}
                    </td>
                    <td>
                        <app-user-icon [user]="help.creator"></app-user-icon>
                    </td>
                    <td>
                        <a [routerLink]="['/helps/', help.id]" class="btn btn-outline-secondary btn-block">
                        Visualizza
                      </a>
                        <a [routerLink]="['/helps/', help.id, 'response']" class="btn btn-outline-primary btn-block">
                        Aiuta
                      </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
