
    <!-- filters -->
    <div class="cat-help pt-3 filters">
        <div class="container">
            <form class="row">
                <div class="form-group col-lg-2 col-md-4 mb-3">
                        <label>A quale distanza (km) puoi offrire aiuto?</label>
                        <div>
                            <select class="form-control" [(ngModel)]="selectedDistance" name="selectedDistance" (change)="filter()">
                                <option [ngValue]="null">--TUTTI--</option>
                                <option *ngFor="let dis of defaultDistance">{{ dis }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-2 col-md-4 mb-3">
                        <label>Quale aiuto puoi offrire?</label>
                        <div>
                          <select class="form-control mb-1" [(ngModel)]="idCat1" name="idCat1" (change)="filter()">
                              <option [ngValue]="null">--TUTTE--</option>
                              <option *ngFor="let cat of categories" [value]="cat.id">
                                  {{ cat.name }}
                              </option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-2 col-md-4 mb-3" *ngIf="idCat1 != null"   >
                      <label>Quale aiuto puoi offrire?</label>
                      <div>
                        <select class="form-control mb-2" [(ngModel)]="idCat2" name="idCat2" (change)="filter()">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let cat of categories | filterCategories : { id: idCat1 }" [value]="cat.id">
                                {{ cat.name }}
                            </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-lg-2 col-md-4 mb-3">
                        <select *ngIf="idCat2 != null && (categories | filterCategories : { id: idCat1, idChild: idCat2 }).length > 0" class="form-control mb-3" [(ngModel)]="idCat3" name="idCat3" (change)="filter()">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let cat of categories | filterCategories : { id: idCat1, idChild: idCat2 }"
                                [value]="cat.id">
                                {{ cat.name }}
                            </option>
                        </select>
                    </div>
            </form>
        </div>
    </div>

    <section class="py-3">

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h3>{{ type?.name }}</h3>
                <h4 class="display-4" *ngIf="type?.code == 'MES'">Domande</h4>
            </div>
        </div>

        <p *ngIf="helps.length == 0">Non ci sono richieste di aiuto.</p>
            <div class="list-group list-group-flush">
                <div class="list-group-item" *ngFor="let help of helps">
                    <div class="row">

                        <div class="col-md">
                            <a class="help-img" [routerLink]="['/helps/', help.id]">
                                <img src="{{ help.image != null ? 'https://res.cloudinary.com/hwbyvepex/image/upload/v1582196512/' + help.image : (help.category.image != null ? 'assets/img/categories/' + help.category.image : 'assets/img/placeholder-help.png')  }}"
                                alt="{{ help.description}} image" class="help-img">
                            </a>
                            <div class="help-desc">
                                <app-categories [category]="help.category"></app-categories>
                                <p>
                                    <a [routerLink]="['/helps/', help.id]" class="text-dark">
                                    {{ help.description }}
                                </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md col-location">
                            <fa-icon [icon]="['fas', 'map-marker-alt']" *ngIf="help.address"></fa-icon>
                            {{ help.address }}
                            <br>
                            <span class="text-secondary">
                              A {{ getDistance(help.latitude, help.longitude) }} da te.
                            </span>
                        </div>
                        <div class="col-lg-1" *ngIf="type?.code != 'IMH'">
                            {{ getDayFromNow(help.createdAt) }}
                        </div>
                        <div class="col-lg-1" *ngIf="type?.code == 'IMH'">
                            {{ getRemainingTime(help.dateEndValidity) }}
                        </div>
                        <div class="col-lg-2">
                            <app-user-icon [user]="help.creator" [showName]="true" [showAge]="true" [showRating]="true"></app-user-icon>
                        </div>
                        <div class="col-lg-2">
                            <a [routerLink]="['/helps/', help.id]" class="btn btn-outline-secondary btn-block">
                                Conosci. Ha bisogno di aiuto
                            </a>
                            <a [routerLink]="['/helps/', help.id, 'response']"
                                class="btn btn-outline-primary btn-block"
                                *ngIf="!isExpired(help)">
                                Offri il tuo aiuto
                                <fa-icon title="Cuore" [icon]="['fas', 'heart']" class="mr-2"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
