<section class="py-3">

    <div class="container">

        <div class="text-right">
            <a *ngIf="likeHelpController()" [routerLink]="['/helps/add']" class="btn btn-outline-secondary mb-3">
                <fa-icon [icon]="['fas', 'plus']"></fa-icon> Aggiungi
            </a>
        </div>

        <p *ngIf="helps.length == 0">Non ci sono richieste di aiuto.</p>
        <table class="table" *ngIf="helps.length > 0">
            <thead>
                <tr>
                    <th>Richiesta</th>
                    <th>Creata</th>
                    <th>Autore</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let h of helps">
                    <td>
                        <img class="help-img" src="{{ h.image == null ? 'assets/img/placeholder-help.png' : 'https://res.cloudinary.com/hwbyvepex/image/upload/v1582196512/' + h.image }}" alt="{{ h.title }} image" width="100">

                        <div class="help-desc">
                            <app-categories [category]="h.category"></app-categories>
                            <p>{{ h.title }}</p>
                            <p>
                                <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                                {{ h.address }}
                            </p>
                        </div>
                    </td>
                    <td>
                        {{ h.createdAt | date: "dd/MM/yyyy" }}
                    </td>
                    <td>
                        <app-user-icon [user]="h.creator"></app-user-icon>
                    </td>
                    <td>
                        <a [routerLink]="['/helps/', h.id]" class="btn btn-block btn-sm btn-outline-primary m-1">
                            Dettagli
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>