<header>
    <!--NavBar Section-->
   <!-- <div class="navbar">
        <nav class="navigation hide" id="navigation">
            <span class="close-icon" id="close-icon" (click)="showIconBar()"><i class="fa fa-close"></i></span>
            <ul class="nav-list">
                <li class="nav-item"><a href="forums.html">Forums</a></li>
                <li class="nav-item"><a href="posts.html">Posts</a></li>
                <li class="nav-item"><a >Detail</a></li>
            </ul>
        </nav>
        <a class="bar-icon" id="iconBar" (click)="hideIconBar()"><i class="fa fa-bars"></i></a>
        <div class="brand">Forum</div>
    </div>
-->
    <!--NavBar Section-->
   <!-- <div class="navigation_forum">
        <ul class="ul_forum">
            <li class="list_forum">
                <a class="a_forum"  [routerLink]="['/forum']">-->
                   <!-- <span class="icon">
                        <fa-icon [icon]="['fas', 'sync']"></fa-icon>
                    </span> -->
                <!--    Forum
                </a>
            </li>
            <li class="list_forum">
                <a class="a_forum"  [routerLink]="['/forum/post']">-->
                    <!-- <span class="icon">
                        <fa-icon [icon]="['fas', 'sync']"></fa-icon>
                    </span> -->
              <!--      Post
                </a>
            </li>
            <li class="list_forum">
                <a class="a_forum"  >-->
                    <!-- <span class="icon">
                        <fa-icon [icon]="['fas', 'sync']"></fa-icon>
                    </span> -->
              <!--      Detail
                </a>
            </li>
        </ul>
    </div>-->


    <!--SearchBox Section-->
    <div class="search-box">
        <div>
            <select name="" id="">
                <option value="Everything">Everything</option>
                <option value="Titles">Titles</option>
                <option value="Descriptions">Descriptions</option>
            </select>
            <input type="text" name="q" placeholder="search ...">
            <button><i class="fa fa-search"></i></button>
        </div>
    </div>
</header>

<div class="container">
    <h1 class="container_title">FORUM</h1>
    <div class="subforum" *ngFor="let i of posts" >
        <!-- <div class="subforum-title">
            <h1>General Information</h1>
        </div> -->
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <i class="fa fa-car center">{{i.image}}</i>
            </div>
            <div class="subforum-description subforum-column">
                <h4><a href="forum/detail/{{i.id}}">{{i.category.name}} {{i.id}}</a></h4>
                <p>{{i.description}}</p>
            </div>
           <!-- <div class="subforum-stats subforum-column center">
                <span>24 Posts | 12 Topics</span>
            </div> -->
            <div class="subforum-info subforum-column">
                <b><a href="">Last post</a></b> by <a href="">{{i.author.firstname}}</a>
                <br>on <small>{{getDate(i.createdAt)}}</small>
            </div>
        </div>
        <app-comment [receivedIdHelp] = null [receivedIdPost] = "i.id"></app-comment>
    </div>
</div>

<!-- Forum Info -->
<!-- <div class="forum-info">
    <div class="chart">
        MyForum - Stats &nbsp;<i class="fa fa-bar-chart"></i>
    </div>
    <span><u>5,369</u> Posts in <u>48</u> Topics by <u>8,124</u> Members.</span><br>
    <span>Latest post: <b><a href="">Random post</a></b> on Dec 15 2021 By <a href="">RandomUser</a></span>.<br>
    <span>Check <a href="">the latest posts</a> .</span><br>
</div> -->
