<section class="py-3">

  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 offset-lg-4 offset-md-3">
              <div class="card mb-3">
                  <div class="card-body">

                      <h2>Reset password</h2>

                      <hr>

                      <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">

                        <div class="form-row mb-3">
                            <label class="col-md-4" for="password">Nuova password</label>
                            <input class="col-md-8 form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">La password è obbligatoria</div>
                                <div *ngIf="f.password.errors.minlength">La password deve essere almeno di 6 caratteri</div>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <label class="col-md-4">Conferma password</label>
                            <input class="col-md-8 form-control" type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Conferma password è obbligatoria</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Le password devono coincidere</div>
                            </div>
                        </div>

                        <div class="form-row mb-3" *ngIf="model">
                            <div class="offset-md-4 col-md-4 mb-1">
                                <a class="btn btn-block btn-outline-secondary" [routerLink]="['/profile', model.id ]">Annulla</a>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-block btn-outline-primary" type="submit">
                                    <fa-icon [icon]="['fas', 'save']"></fa-icon> Salva
                                </button>
                            </div>
                        </div>
                    </form>
                  </div>
              </div>

          </div>
      </div>
  </div>

</section>

