<span class="badge badge-silver m-1 p-2 font-weight-normal" [ngClass]="{'checked': checked }" (click)="toggle()">
    <span *ngIf="category.parent && category.parent.parent">{{ category?.parent?.parent?.name }} /&nbsp;</span> 
    <span *ngIf="category.parent">{{ category?.parent?.name }} /&nbsp;</span>
    <span>{{ category?.name }}</span>
</span>

<!-- 
<span class="badge badge-secondary mr-1" *ngIf="category.parent" [ngClass]="{ 'cat-help': category.parent.code === 'JOB', 'cat-teach': category.parent.code === 'TEA', 'cat-hobby': category.parent.code === 'HOB' }">{{ category?.parent?.name }}</span>
<span class="badge badge-secondary" [ngClass]="{ 'cat-help': category.code === 'JOB', 'cat-teach': category.code === 'TEA', 'cat-hobby': category.code === 'HOB' }">{{ category?.name }}</span> -->
