<section class="py-3">
    <div class="container">

        <div class="row">

            <div class="col-lg-2 col-md-3">
                <a class="offset-md-4" [routerLink]="['/helps']">Indietro</a>
            </div>

            <div class="col-lg-10 col-md-9">

                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Tipo</strong></div>
                            <div class="col-md-4">{{ help?.HelpType?.name }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Titolo</strong></div>
                            <div class="col-md-8">{{ help?.title }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Categoria</strong></div>
                            <div class="col-md-4">{{ help?.HelpCategory?.name }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Creatore</strong></div>
                            <div class="col-md-4">{{ help?.User?.firstName + ' ' + help?.User?.lastName }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Data creazione</strong></div>
                            <div class="col-md-4">{{ help?.createdAt | date: 'dd/MM/yyyy'}}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Descrizione</strong></div>
                            <div class="col-md-4">{{ help?.description }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Creatore da costruttore</strong></div>
                            <div class="col-md-4">{{ creator?.firstName + ' ' + creator?.lastName }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Utente loggato</strong></div>
                            <div class="col-md-4">{{ currentUser?.firstName + ' ' + currentUser?.lastName }}</div>
                        </div>
                        <div *ngIf="author; else notAuthor" class="row mb-3">
                            <a class="col-md-4" [routerLink]="['/helps/edit/:id']">Modifica</a>
                        </div>
                        <ng-template #notAuthor>
                            <div class="row mb-3">
                                <a class="col-md-4" [routerLink]="['/helps/response/:id']">Rispondi</a>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>