<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <a class="btn btn-outline-secondary" [routerLink]="['/helps']">
                    <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon> Indietro
                </a>
            </div>

            <div class="col-lg-10 col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Tipo</strong></div>
                            <div class="col-md-4">{{ help?.HelpType?.name }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Titolo</strong></div>
                            <div class="col-md-8">{{ help?.title }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Categoria</strong></div>
                            <div class="col-md-4">{{ help?.HelpCategory?.name }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Creatore</strong></div>
                            <div class="col-md-4">
                                {{ creator?.firstname + " " + creator?.lastname }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Data creazione</strong></div>
                            <div class="col-md-4">
                                {{ help?.createdAt | date: "dd/MM/yyyy" }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4"><strong>Descrizione</strong></div>
                            <div class="col-md-4">{{ help?.description }}</div>
                        </div>

                        <div *ngIf="author; else notAuthor" class="mb-3">
                            <a class="btn btn-outline-secondary offset-md-4 mb-3" [routerLink]="['/helps/edit/:id']">
                                <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon> Modifica
                            </a>
                            <h4>Responses</h4>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let r of help.responses">
                                    <a class="btn btn-outline-success text-secondary float-right" (click)="accept(r)">
                                        <fa-icon [icon]="['fas', 'check']"></fa-icon> Accept
                                    </a>
                                    <a [routerLink]="['/profile', r.responder.id ]">
                                        <span class="img-avatar rounded-circle">
                                            <img src="{{ r.responder.avatar == null ? 'assets/img/avatar_64.png' : r.responder.avatar }}" 
                                                alt="{{ r.responder.firstname + ' ' + r.responder.lastname }}"
                                                title="{{ r.responder.firstname + ' ' + r.responder.lastname }}"
                                                width="32">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <ng-template #notAuthor>
                            <div class="mb-3">
                                <div class="row">
                                    <a class="col-md-4" [routerLink]="['/helps/response/:id']">Rispondi</a>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>