<h2>Upload avatar</h2>

<p>Seleziona la foto da caricare</p>

<div [hidden]="false">
  <label class="btn btn-outline-secondary">
    <fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon> Carica immagine
    <input type="file" accept=".png,.jpg,image/jpg,image/png" style="display:none" (change)="onFileSelected($event)">
  </label>
  <span *ngIf="uploading" class="ml-2">Caricamento in corso...</span>
</div>

<div *ngIf="responses && responses.length > 0">
    <h3>Status</h3>
    <div class="file" *ngFor="let response of responses; let i = index">
        <div class="status">
            Caricamento... {{ response.progress }}%
            <div class="status-code" *ngIf="response.status == 200">
                Caricamento completo
            </div>
        </div>
        <div class="progress-bar">
            <div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
        </div>
    </div>
</div>

<button class="btn btn-outline-secondary" [routerLink]="['/profile', user?.id ]">Annulla</button>
