<section class="py-3">
    <div class="container">
        <div *ngIf="user" class="row">
            <div class="col-lg-3 col-md-4">
                <img src="assets/{{ user.avatar == null ? 'img/avatar_512.png' : 'uploaded/' + user.avatar }}" alt="{{ user.firstname + ' ' + user.lastname }}" title="{{ user.firstname + ' ' + user.lastname }}" class="img-fluid mb-3">

                <div *ngIf="user.username == currentUser?.username">
                    <a class="btn btn-block btn-outline-secondary mb-3" *ngIf="user.username == currentUser?.username" [routerLink]="['/profile/upload-avatar/', user.id]">
                        <fa-icon [icon]="['fas', 'camera']"></fa-icon> Upload
                    </a>
                </div>

                <table class="table">
                    <tr>
                        <th>Like Helps</th>
                        <td>{{ user.likehelps }} &#9733;</td>
                    </tr>
                    <tr>
                        <th>Età</th>
                        <td>{{ user.birthdate ? getAge(user.birthdate) : '-' }}</td>
                    </tr>
                    <tr>
                        <th>Località</th>
                        <td>-</td>
                    </tr>
                </table>
                <div *ngIf="user.username == currentUser?.username">
                    <a class="btn btn-block btn-outline-secondary" style="margin-top: 2%;" [routerLink]="['/profile/edit/', user.id]">
                        <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon> Modifica
                    </a>
                </div>

            </div>
            <div class="col-lg-9 col-md-8">

                <h2 class="display-4 mb-4">
                    {{ user.firstname }} {{ user.lastname }}
                </h2>

                <div class="card mt-3">
                    <div class="card-body">
                        <h3>Aiuti dati</h3>
                        <p>Nessun aiuto presente.</p>
                        <hr>
                        <h3>Aiuti ricevuti</h3>
                        <p>Nessun aiuto presente.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
