<section class="py-3">
    <div class="container">
        <div *ngIf="user" class="row">
            <div class="col-lg-3 col-md-4">
                <img src="assets/{{ user.avatar == null ? 'img/avatar_512.png' : 'uploaded/' + user.avatar }}" alt="{{ user.firstname + ' ' + user.lastname }}" title="{{ user.firstname + ' ' + user.lastname }}" class="img-fluid">
                <h4 class="text-center mt-3">
                    {{ user.firstname }} {{ user.lastname }}
                </h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <label class="float-left mr-3">LikeHelps:</label> {{ user.likehelps }} &#9733;
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3>Aiuti dati</h3>
                        <p>Nessun aiuto presente.</p>
                        <hr>
                        <h3>Aiuti ricevuti</h3>
                        <p>Nessun aiuto presente.</p>
                    </div>
                </div>
                <div *ngIf="user.username == currentUser?.username">                    
                    <a class="btn btn-outline-secondary" style="margin-top: 2%;" [routerLink]="['/profile/edit/', user.id]">
                        <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon> Modifica dati personali
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
