a {
    display: block;
    padding-bottom: 16px;
    border: 1px solid transparent;
}
a:hover {
    text-decoration: none;
    background-color: #f8f9fa;
    border-color:rgba(0, 0, 0, 0.125);;
}
img {
    /* -webkit-filter: sepia(1);
    filter: sepia(1); */
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
img:hover {
    /* -webkit-filter: sepia(0);
    filter: sepia(0); */
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}