<div class="" *ngFor="let i of posts">
    <section class="banner clearfix">
        <div class="banner__image"></div>
        <div class="banner__copy">
            <div class="banner__copy__text">
                <h3> {{i.title}}</h3>
                <h4>{{i.description}}</h4>
                <p>{{i.id}} </p>
                
               <!-- <p *ngFor="let comment of postComment">{{comment}}</p>-->
            </div>
           <!-- <div *ngFor="let comment of postComment">
                <p>{{comment}}</p>
            </div>-->
           <!-- <div class="accordion">
              <div class="contentBx" [class.active]="check" (click)="open()">
                <div class="label">comment</div>
                <div class="content">
                  <p>
                    welaaa deve funzionare
                  </p>
                </div>
              </div>
            </div> -->
        </div>
    </section>
    <app-comment></app-comment>
    </div>

 
  

