.titolo_bacheca{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}
.titolo_bacheca:hover{
  color: #57ff40;
}
.help-img {
  border: 2px solid #f0f0f0;
  float: left;
  width: 100px;
}

.inline_user {
  display: flex;
  justify-content: space-between;
}

.help-desc {
  margin-left: 100px;
  padding-left: 16px;
  padding-right: 16px;
}

.col-location {
  max-width: 200px;
}

h4.display-4 {
  font-size: 2.5rem;
}

.filters {
  background-color: #e8e9ea;
}

.filters label {
  display: block;
}

/* DI PIETRO */

/*----------------
Banner
------------------*/

.banner {
  background-color: rgb(96, 219, 102);
  height: 50%;
  margin: 25px;
}

.banner-bordi {
  position: relative;
}
.banner-bordi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background: linear-gradient(-135deg, #f8f8f8 12px, transparent 0%),
    linear-gradient(135deg, #f8f8f8 12px, transparent 0%);
  background-size: 24px;
}
.banner-bordi::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background: linear-gradient(-45deg, #f8f8f8 12px, transparent 0%),
    linear-gradient(45deg, #f8f8f8 12px, transparent 0%);
  background-size: 24px;
}
.banner__image {
  float: left;
}
.banner_image_size {
  width: 20vw;
  height: 25vh;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center center;
}
.banner__copy {
  width: 78%;
  float: left;
  height: 100%;
  display: table;
  text-align: center;
  padding: 1%;
}
.banner__copy__text {
  display: table-cell;
  vertical-align: middle;
}

.banner__copy__text h3 {
  font-size: 36px;
  margin-bottom: 0;
}
.banner__copy__text h4 {
  font-size: 22px;
  margin: 5px 0;
}
.banner__copy__text__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.banner__copy__text__description{

}
.banner__copy__text__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

/*----------------
comment
------------------*/
.accordion {
  max-width: 800px;
}
.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}
.accordion .contentBx .label {
  position: relative;
  padding: 10px;
  background: #2694af;
  color: #fff;
  cursor: pointer;
}
.accordion .contentBx .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
.accordion .contentBx.active .label::before {
  content: "-";
}
.accordion .contentBx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.accordion .contentBx.active .content {
  height: 150px;
  padding: 10px;
}

/*----------------
Tablet
------------------*/
@media (max-width: 998px) {
  /* Banner */
  .banner__image {
    width: 25vw;
    height: 30vh;
  }
}

/*----------------
    Smartphone
    ------------------*/
@media (max-width: 767px) {
  /* Banner */
  .banner {
    height: 100%;
  }
  .banner__image {
    width: 100vw;
    height: 50vh;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
} /* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
} /* IE7 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/****************
NEW BACHECA
****************/
.container-bacheca{
  display: flex;
  justify-content: center;
  padding: 13px 5%;
}
.main-content{
  flex-basis: 47%;
}

.post-container{
  width: 100%;
  background: #fff;
  border-radius: 6px;
  color: #626262;
  margin: 20px 0;
}
.user-profile{
  display: flex;
  align-items: center;
}
.user-profile img{
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p{
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.user-profile span{
  font-size: 13px;
  color: #9a9a9a;
}
.responder-profile{
  display: flex;
  align-items: center;
}
.responder-profile img{
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.responder-profile p{
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.responder-profile span{
  font-size: 13px;
  color: #9a9a9a;
}
.post-text{
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}
.post-text a{
  color: #1876f2;
}
.post-img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.post-row{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.activity-icon div{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
