<section class="py-3">
    <div class="container" *ngIf="user">

        <div class="row">

            <div class="col-lg-4 text-center">

                <div class="row">

                    <div class="col-lg-12 col-md-6">

                        <figure class="overlay-wrapper rounded-circle mb-3">
                            <img class="img-fluid" src="{{ getAvatar() }}" alt="{{ getFullname() }}">
                            <figcaption *ngIf="isOwner" class="overlay-panel overlay-black text-center">
                                <a class="btn btn-lg btn-outline-secondary btn-circle mb-3" [routerLink]="['./upload-avatar/']">
                                    <fa-icon [icon]="['fas', 'camera']" size="lg"></fa-icon>
                                </a>
                            </figcaption>
                        </figure>

                    </div>

                    <div class="col-lg-12 col-md-6">

                        <h2 class="mb-3">
                            {{ user.firstname }} {{ user.lastname }}
                        </h2>

                        <p class="text-dark mb-3" *ngIf="user.city && user.country">
                            <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                            {{ user.city }} ({{ user.country }})
                        </p>

                        <p class="font-italic text-secondary">
                            {{ user.description}}
                        </p>

                        <table class="table text-left">
                            <tr>
                                <th>Età</th>
                                <td>{{ user.birthdate ? getAge(user.birthdate) : '-' }}</td>
                            </tr>
                            <tr>
                                <th>LikeHelps</th>
                                <td>
                                    {{ user.likehelps }}
                                    <fa-icon [icon]="['fas', 'star-of-life']"></fa-icon>
                                </td>
                            </tr>
                            <tr>
                                <th>Recensioni</th>
                                <td>
                                    <p>
                                        {{ getAverage() | number : '1.0-1' }}
                                        <span *ngFor="let rat of [1,2,3,4,5] | slice:0:getAverage()">
                                          <fa-icon title="Recensito" [icon]="['fas', 'star']" class="text-warning mr-2"></fa-icon>
                                        </span>
                                    </p>
                                    <p class="text-secondary">{{ getReviews() }} recensioni ricevute</p>
                                    <!--
                                    {{ getAverage().average }}
                                    <span *ngFor="let rat of [1,2,3,4,5] | slice:0:getAverage().average">
                                      <fa-icon title="Recensito" [icon]="['fas', 'star']" class="text-warning mr-2"></fa-icon>
                                    </span>
                                    <app-stars [rating]="getAverage().average"></app-stars>
                                    <p class="text-secondary">{{ getAverage().reviews }} recensioni ricevute</p>
                                    -->
                                </td>
                            </tr>
                        </table>
                        <div *ngIf="isOwner">
                          <a class="btn btn-sm btn-outline-secondary mb-2 mr-1" title="Modifica" [routerLink]="['./edit']">
                            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon> Modifica profilo
                          </a>
                            <a class="btn btn-sm btn-outline-secondary mb-2 mr-1" title="Modifica" [routerLink]="['./password-edit']">
                              <fa-icon [icon]="['fas', 'key']"></fa-icon> Modifica password
                          </a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-8">

                <div class="card">
                    <!-- <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['./offer']" role="tab" aria-controls="offerta" aria-selected="true">Offerta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['./requested-help']" role="tab" aria-controls="aiuti-richiesti" aria-selected="false">Aiuti richiesti</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLink]="['./offered-help']" role="tab" aria-controls="aiuti-offerti" aria-selected="false">Aiuti offerti</a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="card-body">

                        <!-- <router-outlet></router-outlet> -->

                        <app-offer></app-offer>

                        <hr>

                        <app-requested-help></app-requested-help>

                        <hr>

                        <app-offered-help></app-offered-help>

                    </div>
                </div>

                <!-- <div>
                    <fa-icon [icon]="['fas', 'sync']" [spin]="isSyncAnimated" (click)="isSyncAnimated=!isSyncAnimated"></fa-icon>
                </div> -->

            </div>

        </div>

    </div>
</section>
