.bg-home {
    background-image: url('../../assets/img/bg-home1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    min-height: 200px;
}

.bg-home .lead {
    color: #ffffff;
}