<div class="jumbotron bg-home">
    <div class="container">

        <div class="row pb-3">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Meet &amp; Help</h3>
                        <hr>
                        <p class="lead">
                            Un piccolo aiuto può essere importante per chi lo riceve. Scegli quello più adatto a te.
                        </p>
                        <hr>
                        <a routerLink="/meet-and-help" class="btn btn-block btn-outline-secondary">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Inizia
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Immediate Help</h3>
                        <hr>
                        <p class="lead">Hai bisogno di un aiuto immediato?</p>
                        <hr>
                        <a href="#" class="btn btn-block btn-outline-secondary">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Inizia
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Meet Up</h3>
                        <hr>
                        <p class="lead">
                            Vuoi parlare e condividere un problema o un tema con altre persone?
                        </p>
                        <hr>
                        <a href="#" class="btn btn-block btn-outline-secondary">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Inizia
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-3">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Meet &amp; Share</h3>
                        <hr>
                        <p class="lead">Hai bisogno di qualche oggetto in prestito?</p>
                        <hr>
                        <a href="#" class="btn btn-block btn-outline-secondary">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Incontra e condividi
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Garden Sharing</h3>
                        <hr>
                        <p class="lead">
                            Hai un pezzo di terra inutilizzato?<br>Fallo coltivare a chi ne ha bisogno
                        </p>
                        <hr>
                        <a href="#" class="btn btn-block btn-outline-secondary">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Condividi orto
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Collective Help</h3>
                        <hr>
                        <p class="lead">
                            Alcune imprese come la pulizia di un parco, non possono essere fatte da una persona sola.
                        </p>
                        <hr>
                        <a href="#" class="btn btn-block btn-outline-secondary">
                            <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon> Aiuto collettivo
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>