
.subNav{
  margin-left: auto;
  margin-right: auto;
}
.header-icon {
  margin-top: 8px;
}

.fa-icon-counter {
  zoom: 150%;
}

#notifications{
  cursor: pointer;
}

//991px
@media (max-width: 991px) {
  .navbar-nav .nav-item {
      border-bottom: 1px solid #d0d0d0;
      padding-top: 4px;
      padding-bottom: 4px;
  }
  .btn {
      display: block;
  }
}
@media (min-width: 992px){
.navbar-larga {
  display: contents !important;
}
}