<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">
                <img alt="ReHelp" src="assets/img/logo-rehelp.png" width="200">
            </a>
            <button aria-controls="navbarMain"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarMain"
                data-toggle="collapse"
                type="button"
                (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-right pr-3" id="navbarMain" [ngClass]="{ 'show': navbarOpen }">

                <ul class="nav navbar-nav">
                    <li class="nav-item" *ngIf="currentUser" routerLinkActive="active">
                        <a class="nav-link" routerLink="/helps">Richieste</a>
                    </li>
                    <li class="nav-item" *ngIf="currentUser" routerLinkActive="active">
                        <a class="nav-link" routerLink="/users">Offerte</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">

                    <li class="nav-item p-1" *ngIf="currentUser" routerLinkActive="active">
                        <a class="btn btn-outline-secondary" routerLink="/helps/add">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            Richiesta di aiuto
                        </a>
                    </li>
                    <li class="nav-item p-1" *ngIf="currentUser" routerLinkActive="active">
                        <a class="btn btn-outline-secondary" routerLink="/helps/add/IMH">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            Richiesta immediata
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="currentUser">
                        <app-notifications [currentUser]="currentUser" [showName]="navbarOpen"></app-notifications>
                    </li>
                    <li class="nav-item" *ngIf="currentUser">
                        <app-user-icon [user]="currentUser" [showName]="navbarOpen"></app-user-icon>
                    </li>
                    <li class="nav-item" *ngIf="currentUser">
                        <a class="btn btn-outline-secondary" (click)="logout()">Esci</a>
                    </li>
                    <li class="nav-item" *ngIf="!currentUser" routerLinkActive="active">
                        <a class="nav-link btn btn-outline-secondary mr-2" routerLink="/login">Accedi</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
