.chat {
    position: fixed;
    bottom: 0;
    right: 16px;
    z-index: 99;
}

.chat-expanded {
    width: 420px;
    -webkit-box-shadow: -8px -5px 60px -40px rgba(0, 0, 0, 1);
    -moz-box-shadow: -8px -5px 60px -40px rgba(0, 0, 0, 1);
    box-shadow: -8px -5px 60px -40px rgba(0, 0, 0, 1);
}

.messages {
    height: 400px;
    overflow-y: scroll;
}

.chat-collapsed {
    margin-bottom: 8px;
}

.card-header strong {
    display: inline-block;
    margin-right: 8px;
}

.btn-circle {
    width: 24px;
    height: 24px;
    padding: 6px 0;
    margin-left: 8px;
    font-size: 12px;
    text-align: center;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #ffffff;
}

.btn-circle.btn-lg {
    width: 64px;
    height: 64px;
    padding: 0;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 32px;
    border: 1px solid #a0a0a0;
}

.btn-circle .fa-layers {
    margin: 0 auto 0 auto;
}

.btn-circle:hover {
    background-color: #a0c0e0;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.ng-fa-icon {
    zoom: 80%;
}

.fa-icon-counter {
    zoom: 200%;
}