<div class="chat">
    <div class="chat-expanded card bg-light" *ngIf="isOpen">
        <div class="card-header">
            <strong>{{ help.description }}</strong>
            <button class="btn btn-outline-secondary float-right" (click)="isOpen = false">x</button>
        </div>
        <div class="card-body messages" #scrollMe>
            <div *ngFor="let message of messages" class="message">
                <div  *ngIf="message.idAuthor == currentUser.id" class="mine">
                    <app-user-icon [showName]="false" [user]="currentUser" class="user"></app-user-icon>
                    <div class="card">
                        <div class="card-body">
                            <img *ngIf="message.imageUrl" [src]="message.imageUrl" class="message-image mb-2" />
                            <p *ngIf="message.body" class="m-0 pb-2">
                                {{ message.body }}
                            </p>
                            <sub class="float-right text-secondary">
                                {{ message.createdAt | date:'HH:mm' }}
                            </sub>
                        </div>
                    </div>
                </div>
                <div *ngIf="message.idAuthor != currentUser.id" class="other">
                    <app-user-icon [showName]="false" [user]="message.author" class="user"></app-user-icon>
                    <div class="card">
                        <div class="card-body">
                            <img *ngIf="message.imageUrl" [src]="message.imageUrl" class="message-image mb-2" />
                            <p *ngIf="message.body" class="m-0 pb-2">
                                {{ message.body }}
                            </p>
                            <sub class="float-right text-secondary">
                                {{ message.createdAt | date:'HH:mm' }}
                            </sub>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="image-preview" *ngIf="imagePreviewUrl">
                <img [src]="imagePreviewUrl" />
                <span *ngIf="uploading" class="uploading-label">Caricamento...</span>
                <button type="button" class="remove-image-btn" (click)="removeSelectedImage()" [disabled]="uploading">
                    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
                </button>
            </div>
            <div class="input-row">
                <textarea [(ngModel)]="messageBody" (keydown.enter)="onKeyDown($event)" (keyup.enter)="sendMessage()" class="form-control"></textarea>
                <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)" />
                <button type="button" class="btn btn-outline-secondary attach-btn" (click)="fileInput.click()" title="Allega immagine">
                    <fa-icon [icon]="['fas', 'paperclip']"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="chat-collapsed" *ngIf="!isOpen">
        <button class="btn btn-lg btn-circle" (click)="openChat()">
            <fa-layers [fixedWidth]="true" size="2x" class="header-icon">
                <fa-icon [icon]="['far', 'comment']"></fa-icon>
                <!-- <fa-layers-counter content="5" size="2x" class="fa-icon-counter"></fa-layers-counter> -->
            </fa-layers>
        </button>
    </div>
</div>
