<div class="container py-3">
    <div class="row">

        <div class="col-lg-2 col-md-3 mb-3">
            <button class="btn btn-block btn-outline-secondary" (click)="back()">
                <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon> Indietro
            </button>
        </div>

        <div class="col-lg-10 col-md-9">

            <h2 class="display-5">{{ type?.name }} - chiedi aiuto</h2>
            <div class="card my-3">
                <div class="card-body">
                    <div class="form-row mb-3" *ngIf="userToAsk">
                        <div class="col-lg-4">Stai chiedendo aiuto a:</div>
                        <div class="col-lg-8">
                            <!-- <a [routerLink]="['/profile/', userToAsk?.id]"> -->
                                {{ userToAsk.firstname }} {{ userToAsk.lastname }}
                            <!-- </a> -->
                        </div>
                    </div>
                    <form #helpForm="ngForm" (ngSubmit)="onSubmit()">

                        <div class="form-row mb-3">
                            <label class="col-lg-4" for="category">Categoria</label>
                            <div class="col-lg-8">
                                <select
                                    class="form-control mb-3"
                                    [(ngModel)]="idCat"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let cat of categories" [value]="cat.id">
                                        {{ getCategoryFullname(cat) }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                          <label class="col-lg-4" for="description">Descrizione</label>
                          <textarea class="col-lg-8 form-control" rows="4" [(ngModel)]="model.description"
                              name="description" required>
                          </textarea>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-lg-4" for="image">Carica immagine
                                <sub style="color:grey;">
                                    <p>Trascina sul riquadro la foto da caricare</p>
                                </sub>
                            </label>
                            <div class="col-lg-8">
                                <div [hidden]="imageUploaded">
                                    <form id="direct_upload" ng2FileDrop [uploader]="uploader"
                                        (fileOver)="fileOverBase($event)"
                                        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }">
                                        <div class="py-3">
                                            <div class="form_controls">
                                                <div class="upload_button_holder">
                                                    <label class="btn btn-outline-secondary" for="fileupload">
                                                        <fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon> Carica immagine
                                                    </label>
                                                    <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
                                                    <input type="file" id="fileupload"
                                                        accept=".png, .jpg, image/jpg, image/png" #fileInput
                                                        ng2FileSelect [style.display]="'none'" [uploader]="uploader"
                                                        (change)="fileInput.value = ''" multiple />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="file" *ngFor="let response of responses; let i = index; last as isLast">
                                    <div *ngIf="imageUploaded && isLast">
                                        <div class="status">
                                            <div *ngIf="!response.status">
                                                In corso
                                            </div>
                                            <div *ngIf="response.status!=200">
                                                Caricamento... {{ response.progress }}%
                                                <div class="progress-bar">
                                                    <div class="progress" role="progressbar"
                                                        [style.width.%]="response.progress"></div>
                                                </div>
                                            </div>
                                            <div class="status-code"
                                                *ngIf="response.status && response.status==200 && imageUploaded">
                                                Caricamento completo
                                            </div>
                                            <div class="status-code" *ngIf="response.status && response.status > 300">
                                                Errore: {{ response.message }}
                                            </div>
                                            <input type="hidden" [(ngModel)]="model.image"
                                                [value]="response.data.public_id " name="image" />
                                        </div>

                                        <a target="_blank" href="{{ response.data.url}}">
                                            <img src="{{ response.data.url}}" alt="{{ response.data.public_id }}">
                                        </a>
                                        <a (click)="toggleImgUploader()" class="btn btn-danger btn-block col-md-1 mt-2">
                                            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-lg-4" for="location">Zona</label>
                            <agm-map class="col-lg-8" [latitude]="model.latitude" [longitude]="model.longitude"
                                [zoom]="zoom">
                                <agm-marker [latitude]="model.latitude" [longitude]="model.longitude"
                                    [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                                </agm-marker>
                            </agm-map>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-lg-4" for="address">Indirizzo</label>
                            <input class="col-lg-8 form-control" type="text" [(ngModel)]="model.address" name="address"
                                (keydown.enter)="$event.preventDefault()" placeholder="{{address}}" value="{{address}}"
                                autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                        </div>

                        <div class="form-row mb-3">
                            <button class="btn btn-outline-primary offset-lg-4 col-lg-8 mb-3" type="submit">
                                <fa-icon [icon]="['fas', 'plus']"></fa-icon> Aggiungi
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
